.container1{
  text-align: center;
  background-color: #FFDAB9;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  background-color: #FFDAB9;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}


.post1 {
  grid-column: 1 /  3;

}

.post2 {
  grid-column: 1 /  3;
}


.post3 {
  grid-column: 1 / span 2;
}

.post4 {
  grid-column: 1 / span 2;
}

.post5 {
  grid-column: 1 / span 2;
}

.post6 {
  grid-column: 1 / span 4;
}

.post7{
  grid-column: 3/  5;
  grid-row: 1/  7;
}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
